  <ion-button id="background-icon"></ion-button>
  <ion-img id="open-book-modal" src="../../../assets/possiveis imgs/book-icon.png"></ion-img>
  <ion-modal #modal trigger="open-book-modal">
    <ng-template>
      <ion-content>
        <div id="container">
          <div>
          <ion-toolbar>
            <ion-title>Help</ion-title>
          </ion-toolbar>    
          <p>Sun</p>
          <p>Moon</p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div>
          <ion-toolbar>
            <ion-title>Ajuda</ion-title>
          </ion-toolbar>
          <p>Sol</p>
          <p>Lua</p>
          <p></p>
          <p></p>
          <p></p>
        </div>
     </div>          
      </ion-content>
    </ng-template>
  </ion-modal>