.level-container  {
    background-image: url('../../assets/void.png');
    background-size: cover; /* Ajuste o tamanho da imagem conforme necessário */
    background-repeat: no-repeat;
  }
.header-title {
    font-size: 24px;
  }
  
  .level-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .level-card {
    max-width: 300px;
  }
  
  .level-image {
    width: 100%;
    max-height: 300px;
  }
  
  .level-description {
    font-size: 9px;
  }


  