<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="level-container">
    <ion-card (click)="goToLevel(1)" class="level-card">
      <img src="assets/medieval.png" alt="Level 1" class="level-image">
      <ion-card-content>
        <ion-card-title>Vera Cruz</ion-card-title>
        <p class="level-description">Na Terra antiga de Vera Cruz, Um dragão Sequestrou a princesa. Precisamos de um heroi!</p>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goToLevel(2)" class="level-card">
      <img src="assets/Dino.png" alt="Level 2" class="level-image">
      <ion-card-content>
        <ion-card-title>Paleo Pines</ion-card-title>
        <p class="level-description">Em uma época antiga, uma tribo de homens das cavernas fez uma descoberta surpreendente - o fogo! Mas os dinossauros também!</p>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goToLevel(3)" class="level-card">
      <img src="assets/Monkey.png" alt="Level 3" class="level-image">
      <ion-card-content>
        <ion-card-title>Monkey Island</ion-card-title>
        <p class="level-description">Em uma ilha remota, uma trupe de piratas desencadeou uma maldição ao encontrar um tesouro.</p>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goToLevel(4)" class="level-card">
      <img src="assets/Moon.png" alt="Level 4" class="level-image">
      <ion-card-content>
        <ion-card-title>Tacoma</ion-card-title>
        <p class="level-description">Em uma missão na lua, um foguete e sua tripulação enfrentam um problema grave: um dos tripulantes é um impostor disfarçado.</p>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goToLevel(5)" class="level-card">
      <img src="assets/cowboy - Copia1.png" alt="Level 5" class="level-image">
      <ion-card-content>
        <ion-card-title>Juarez</ion-card-title>
        <p class="level-description">um lendário cowboy precisa enfrentar um duelo mortal. Há apenas um problema: sua arma está quebrada!</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
