<ion-content>
  <app-interaction (click)="handleInteractionClick()"
  [style.display]="interactionVisible4 ? 'flex' : 'none'"
  [message]="'Viajante apesar de um churrasco seria ótimo, estou vendo algo se movendo entre as árvores ali e pela cara não é algo bom Cuidado!'"
  [image]="'../../../assets/interactionAssets/interaction3.png'"
></app-interaction>
<app-interaction (click)="handleInteractionClick()"
  [style.display]="interactionVisible3 ? 'flex' : 'none'"
  [message]="'Olá Viajante! Seria melhor ficar próximo da água(water) porque tem alguma coisa pegando fogo(fire) por aqui. Dá até vontade de fazer um churrasco!'"
  [image]="'../../../assets/interactionAssets/interaction2.png'"
></app-interaction>
<app-interaction (click)="handleInteractionClick()"
  [style.display]="interactionVisible2 ? 'flex' : 'none'"
  [message]="'Saudações, Viajante! Nunca vi um de vocês por aqui! Quer ser meu amigo ? Eu te dou uma pedra(Stone) todos gostam de pedra, exceto o meu irmão fala ali com ele! '"
  [image]="'../../../assets/interactionAssets/interaction1.png'"
></app-interaction>
<app-interaction 
  [style.display]="interactionVisible1 ? 'flex' : 'none'"
  [message]="'Bem-vindo, viajante, A minha parte favorita desse planeta, Paleo Pines o único lugar com dinossauros(dinosaur) inteligentes ainda. Que tal achar um deles ?'"
  [image]="'../../../assets/interactionAssets/interaction1.png'"
></app-interaction>
  <app-choices (click)="handleInteractionClick()"
    [style.display]="choicesVisible1 ? 'flex' : 'none'"
    [escolha1]="'Water'"
    [escolha2]="'Earth'"
    [escolha3]="'Stone'"
    [escolha4]="'Fire'"
    [pergunta]="'Como se escreve fogo em inglês'"
    [respostaCorreta]="'D'"
    [explicacao]="'Porque fire em inglês significa fogo'"
  ></app-choices>
  <app-choices (click)="handleInteractionClick()"
    [style.display]="choicesVisible2 ? 'flex' : 'none'"
    [escolha1]="'Dragon'"
    [escolha2]="'Rabbit'"
    [escolha3]="'Snake'"
    [escolha4]="'Dinosaur'"
    [pergunta]="'Como se escreve dinossauro em inglês?'"
    [respostaCorreta]="'D'"
    [explicacao]="'Porque dinosaur em inglês significa dinossauro'"
  ></app-choices>
  <app-choices (click)="handleInteractionClick()"
    [style.display]="choicesVisible3 ? 'flex' : 'none'"
    [escolha1]="'Fire '"
    [escolha2]="'Stone'"
    [escolha3]="'Black'"
    [escolha4]="'Water'"
    [pergunta]="'Como se escreve água em inglês?'"
    [respostaCorreta]="'D'"
    [explicacao]="'Porque water em inglês significa água'"
  ></app-choices>
  <app-choices (click)="handleInteractionClick()"
    [style.display]="choicesVisible4 ? 'flex' : 'none'"
    [escolha1]="'Water'"
    [escolha2]="'Stone'"
    [escolha3]="'Black'"
    [escolha4]="'Earth'"
    [pergunta]="'Como se escreve pedra em inglês?'"
    [respostaCorreta]="'B'"
    [explicacao]="'Porque stone em inglês significa pedra'"
  ></app-choices>
  <app-choices (click)="handleInteractionClick()"
    [style.display]="choicesVisible5 ? 'flex' : 'none'"
    [escolha1]="'Three'"
    [escolha2]="'Fire'"
    [escolha3]="'Tree'"
    [escolha4]="'Stone'"
    [pergunta]="'Como se escreve árvore em inglês?'"
    [respostaCorreta]="'C'"
    [explicacao]="'Porque tree em inglês significa árvore'"
  ></app-choices>
  <app-book
    [palavra1]="'fogo'"
    [palavra2]="'dinossauro'"
    [palavra3]="'água'"
    [palavra4]="'pedra'"
    [palavra5]="'árvore'"
    [word1]="'fire'"
    [word2]="'dinosaur'"
    [word3]="'water'"
    [word4]="'stone'"
    [word5]="'tree'"
  ></app-book>
  <app-settings></app-settings>
  <app-conclusion *ngIf="todasPerguntasRespondidas()"></app-conclusion>
</ion-content>