* {
  margin: 0;
  padding: 0;
}
ion-content::part(background){
    background: #ffffff00;
    // background: url("../../../assets/scenerys/CenarioMedieval.jpg");
    // background-size: cover;
    // width: 100vw;
    // height: 100vh;
  }