<ion-content>
    <!-- <ion-content>
        <div id="container">
          <ion-toolbar>
            <ion-title>Settings</ion-title>
          </ion-toolbar>
          <ion-label>
            <ion-checkbox (ionChange)="toggleMusic($event)" [checked]="isMusicPlaying">Música</ion-checkbox>
          </ion-label>
        </div>
      </ion-content> -->
      <button (click)="showInteraction()">Mostrar Interação</button>
      <button (click)="showChoices()">Mostrar perguntas</button>
  <app-book></app-book>
  <app-settings></app-settings>
</ion-content>

