  <ion-fab-button size="small" id="settings-modal" expand="block"></ion-fab-button>
  <ion-modal #modal trigger="settings-modal">
    <ng-template>
      <ion-content>
        <div id="container">
        <ion-toolbar>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
        <ion-label>
          <ion-button id="sound-button" >
          </ion-button>
          <ion-button id="music-button" (click)="toggleMusic()">
          </ion-button>
      </ion-label>
      <ion-label>
        <ion-button href="/worlds" id="home-button"></ion-button>          
        <ion-button id="play-button" (click)="modal.dismiss()"></ion-button>          
        <ion-button id="reset-button" (click)="refreshPage()"></ion-button>
      </ion-label>
      </div>          
      </ion-content>
    </ng-template>
  </ion-modal>