<ion-content [fullscreen]="true">
  <div class="designOfMenu">
    <div class="image-container">
      <ion-img
        id='title'
        src="../../assets/mainMenuAssets/design/educationalTitle.png"
        alt="Título Educational Game">
      </ion-img>
      <ion-img
        id="lamp"
        src="../../assets/mainMenuAssets/design/lampada.png"
        alt="Lampada em 3D">
      </ion-img>
      <div class="shadow-mask"></div>
    </div>
  </div>

  <div id="container" class="buttons">
    <ion-button routerLink="/worlds" class="playBtn"></ion-button>
  </div>
</ion-content>
