<ion-content [fullscreen]="true">
  <div class="designOfMenu">
    <div class="image-container">
      <ion-img
        id='title'
        src="../../assets/mainMenuAssets/design/educationalTitle.png"
        alt="Lampada em 3D">
      </ion-img>
      <ion-img
        id="lamp"
        src="../../assets/mainMenuAssets/design/lampada.png"
        alt="Lampada em 3D">
      </ion-img>
      <div class="shadow-mask"></div>
    </div>
  </div>

  <div id="container" class="buttons">
    <ion-button routerLink="/worlds" class="playBtn"></ion-button>
  </div>
  <app-choices
  [escolha1]="'1'"
  [escolha2]="'2'"
  [escolha3]="'3'"
  [escolha4]="'4'"
  [pergunta]="'Qual o número primo?'"
  ></app-choices>
</ion-content>
